@font-face {
    font-family: 'Thirsty Rough Reg';
    src: url('../fonts/ThirstyRoughReg.woff2') format('woff2'),
        url('../fonts/ThirstyRoughReg.woff') format('woff');
}

body{
    font-family: "Nunito Sans", sans-serif;
    overflow-x:hidden;
}
/* width */
::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

a{
    text-decoration: none;
    transition: all 0.4s ease-in-out 0s;
}
.w-350{
    width:563px;
    padding: 0 60px 0 60px;
}
.navbar button{
    height: 45px;
    padding:0 30px;
    border-radius: 5px;
    border:1px solid #1E1E21;
    font-size: 15px;
    color:#020203;
    background: #fff;
}
li.nav-item{
    padding: 0 20px;
}
li.nav-item a{
    color: #1E1E21!important;
    padding-left: 0!important;
    padding-right: 0!important;
}
.hdr{
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
    height: 80px;
}
.hdr button{
    background: none;
}
.hdr .navbar-brand{
    text-align: center;
}
.hdr .navbar-brand img{
    transition: all 0.4s ease-in-out 0s;
    width: 200px;
}
.hdr nav{
    height: 80px;
}
.sticky{
    background: #fff;
    box-shadow: 0px 0px 10px 0px #999;
}
.sticky .navbar-brand{
    padding: 0px!important;
}
.sticky .navbar-brand img{
    width: 43%;
    margin: 0px!important;
    transition: all 0.4s ease-in-out 0s;
}
.herosection h1{
    font-size: 70px;
    line-height: 75px;
    font-weight: 800;
    color: #1E1E21;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.herosection p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1E1E21;
    margin-bottom: 25px;
}
.herosection a.fill{
    background: #1E1E21;
    color: #fff;
}

.a-outline {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1E1E21 !important;
    background: transparent !important;
    height: 42px;
    padding: 0 20px;
    border: 1px solid #1E1E21;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out 0s;
}

.herosection a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #1E1E21;
    background: none;
    height: 42px;
    padding: 0 20px;
    border: 1px solid #1E1E21;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out 0s;
    backdrop-filter: blur(2px);
-webkit-backdrop-filter: blur(2px);
}
.herosection a:hover{
    background: #1E1E21;
    transition: all 0.4s ease-in-out 0s;
    color: #fff;
}
.herosection span{
    font-family: 'Thirsty Rough Reg';
    color: #DB5C1D;
    font-size: 24px;
    line-height: 24px;
    transform: rotate(-25deg);
    display: block;
    text-align: left;
    float: right;
    position: absolute;
    top:0px;
    right:-60px;
}
.vihcale{
    background: #fff;
    padding: 40px;
    border-radius: 0 20px 20px 0;
    box-shadow: 0px 3px 30px #00000017;
    margin-top: -70px;
    position: relative;
    z-index: 1;
    width: 520px;
}
.vihcale h3{
    font-weight: 700;
    font-size: 24px;
}
.vihcale input{
    width: 100%;
    height: 45px;
    background: #F2F2F2;
    border-radius: 10px;
    border: 0px solid #000;
    padding: 0 15px;
}
.models h2{
    color: #1E1E21;
    font-size: 44px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 30px;
}
.models h3{
    font-family: 'Thirsty Rough Reg';
    color: #DB5C1D;
    font-size: 22px;
    line-height: 28px;
}
.models h4{
    color: #1E1E21;
    font-size: 22px;
    line-height: 28px;
    margin: 15px 0 0;
    font-weight: 700;
}
.models p{
    color: #1E1E21;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.models .carousel img{
    border-radius: 20px;
    height: 250px;
    object-fit: cover;
}
.tagdiv{
    width:85px;
    height:31px;
    border-radius:5px;
    background: #F4E8D4;
    z-index: 1;
    top: 25px;
    font-size: 14px;
    color: #1E1E21;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innersec{
    width: 100%;
    height: 250px;
    background:#F4E8D4 url("../images/bginer.png") no-repeat right top;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background-size: auto 100%;

}
.innersec h5{
    font-size: 26px;
    color:#1E1E21;
    font-weight: 700;
    margin-bottom: 20px;
}
.innersec h6{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Thirsty Rough Reg';
    color: #DB5C1D;
}
.innersec a {
    width: 210px;
    height: 43px;
    font-size:15px ;
    color: #fff;
    background: #1E1E21;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgoverlay{
    background:transparent linear-gradient(180deg, #1E1E2100 0%, #1E1E21CC 44%, #1E1E21F2 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 55px 30px 25px!important;
    height: 200px;
}
.bgoverlay img{
    width: 50px;
}
.forboxes h3{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    width: 70%;
}
.h-630{
    height: 630px;
    border-radius: 20px;
    object-fit: cover;
}
.h-300{
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}



.servarea {
    background: #FBF6EF url(../images/bginer.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative; /* Important pour les pseudo-éléments positionnés */
    z-index: 0;
    overflow: visible; /* Permet aux pseudo-éléments de dépasser */
    min-height: 600px; /* Assurez-vous que la section est assez grande */
    margin-top: 70px;
    padding-bottom: 160px !important;
}

/* Arc visible en bas */
.servarea::before {
    content: '';
    position: absolute;
    bottom: -50px; /* Permet à l’arc de dépasser en dessous */
    left: 0;
    width: 100%;
    height: 150px; /* Hauteur de l’arc */
    background: #FBF6EF;
    border-radius: 100% 100% 0 0; /* Arc parfait */
    z-index: -1; /* Place l'arc sous le contenu principal */
    top: -71px;
}




/* Logo centré et isolé */
.logo-container {
    position: absolute;
    bottom: 120px; /* Ajuste la position verticale juste au-dessus de l'arc */
    left: 50%;
    top: -123px;
    transform: translateX(-50%);
    width: 100px; /* Taille du logo */
    height: 100px;
    background: #fff;
    border-radius: 50%; /* Cercle parfait */
    background-image: url("../images/embleme-AVAC-noir.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%; /* Ajustez la taille de l’icône */
    z-index: 2; /* Place le logo au-dessus de tout */
}



.servarea h3{
    font-size: 44px;
    line-height: 50px;
    color: #1E1E21;
    font-weight: 700;
}
.servarea h4{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Thirsty Rough Reg';
    color: #DB5C1D;
}
.py-10{
    padding-top: 100px;
    padding-bottom: 100px;
}
.servnew {
    text-align: center;
    padding: 150px 0 25px;
    position: relative;

}
.toparrow{
    width: 750px;
    left: -145px;
    height: 242px;
    object-fit: contain;
    top:-70px;
}
.bttomarrow{
    right: -40px;
    width: 750px;
    height: 168px;
    object-fit: contain;
    bottom:-160px;
    z-index: 1;
}
.servnew::before{
    position: absolute;
    content: none;
    top:-44px;
    left: -145px;
    background:url("../images/arrow.png") no-repeat top left -20px;
    width: 750px;
    height: 242px;
    display: inline-block;
    background-size:contain;
}
.servnew::after{
    position: absolute;
    content: none;
    bottom:-140px;
    right: -250px;
    background:url("../images/arrow1.png") no-repeat bottom right -20px;
    width: 900px;
    height: 242px;
    display: inline-block;
    background-size:contain;
    z-index: 1;
}
.servnew .heading{
    font-size: 48px;
    line-height: 68px;
    color: #1E1E21;
    font-weight: 700;
    font-style: italic;
    padding: 0 20px;
}
.clubsec{
    background:url("../images/overlay.png") no-repeat;
    border-radius: 20px;
    padding: 80px 0;
    transform: rotate(1deg);
    position: relative;
    background-size: cover;
}
.norotate{
    transform: rotate(-1deg);
}
.clubsec::after{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FBF6EF;
    content: "";
    display: inline-block;
    position: absolute;
    top:45%;
    left: -25px;
}
.clubsec::before{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FBF6EF;
    content: "";
    display: inline-block;
    position: absolute;
    top:45%;
    right: -25px;
}
.daksec{
    background: #FBF6EF;
}
.clubsec img{
    height: 400px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.clubsec h4{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Thirsty Rough Reg';
    color: #DB5C1D;
}
.clubsec h3{
    font-size: 44px;
    line-height: 50px;
    color: #FBF6EF;
    font-weight: 700;
}
.clubsec h5{
    font-size: 40px;
    line-height: normal;
    color: #FBF6EF;
    font-weight: 300;
    margin: 0;
}
.clubsec h6{
    font-size: 14px;
    line-height: 20px;
    color: #FBF6EF;
    font-weight: 400;
}
.clubsec p{
    font-size: 14px;
    line-height: 20px;
    color: #FBF6EF;
    font-weight: 400;
    width: 75%;
}
.clubsec a {
    width: 200px;
    height: 40px;
    font-size:15px ;
    color: #fff;
    background: #DB5C1D;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clubsec hr{
    margin: 70px 0 10px;
    background-color: #FBF6EF;
}
.logosec{
    background-color: #FBF6EF;
    padding: 100px 0;
    overflow-x: hidden;
}
.logosec img{
    height: 92px;
    width: 110px;
    object-fit: contain;
    margin: 0 30px;
}
.slidersec{
    margin-top: -50px;
    padding-bottom: 100px;
}
.slidersec h4{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Thirsty Rough Reg';
    color: #DB5C1D;
}
.slidersec h3{
    font-size: 44px;
    line-height: 50px;
    color: #1E1E21;
    font-weight: 700;
}
.slidersec ul{
    list-style: none;
}
.slidersec p{
    font-size: 14px;
    line-height: 20px;
    color: #1E1E21;
    font-weight: 400;
}
.videoslider .slick-slide {
    margin: 0 10px; /* Adjust this value to control spacing */
}
.videoslider video{
    border-radius: 20px;
    height: 550px;
}
footer ul{
    list-style: none;
}
footer ul li a{
    font-size: 14px;
    color: #020203;
    line-height: 26px;
}
footer p{
    font-size: 14px;
    color: #020203;
    line-height: 26px;
}
footer span{
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    width: 70%;
    display: inline-block;
}
footer hr{
    background-color: A5A5A6;
}
.footerbtm p {
    color: #707070;
}
.formsec input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 0 15px;
    border: 0px solid #000;
    background: #F2F2F2;
}
.formsec button{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #000;
    background: none;
}
.formsec input:focus{
    outline: none;
    border:1px solid #1E1E21;
}
.heroicon{
    bottom: 40px;
    right: 40px;
}
.heroicon a{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #fff!important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.heroicon a img{
    width: auto!important;
    height: auto!important;
}

.rotating-text {
    animation: rotateText 2s ease-in-out;
    transform-origin: center;
}

@keyframes rotateText {
    0% {
        transform: rotate(-100deg);
        opacity: 0;
    }
    50% {
        transform: rotate(-25deg);
        opacity: 1;
    }
    100% {
        transform: rotate(-25deg);
        opacity: 1;
    }
}

/* Collection */

.heroDiv {
    height: 580px;
    position: relative;
    background: transparent linear-gradient(
            180deg,
            #FFFFFF 0%, /* Dégradé commençant par du blanc */
            #F4E8D4CC 61%, /* Couleur intermédiaire avec transparence */
            #FFFFFF 100% /* Retour au blanc */
    ) 0% 0% no-repeat padding-box;
    overflow: hidden; /* Empêche les débordements potentiels */
}

.heroDiv::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/center.png') center center no-repeat; /* Centrer l'image */
    background-size: cover; /* L'image couvre tout le conteneur */
    opacity: 0.8; /* Opacité appliquée uniquement à l'image */
    z-index: 1; /* Place l'image derrière le contenu */
}



.heroDiv h1{
    font-size: 70px;
    line-height: 75px;
    font-weight: 800;
    color: #1E1E21;
}
.heroDiv h4{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Thirsty Rough Reg';
    color: #DB5C1D;
    margin-top: 130px;
}
.pb-10{
    padding-bottom: 100px;
}

.innersec{
    background:#FBF6EF url("../images/right.png") no-repeat;
    background-position: top right -100px;
    background-size: auto 100%;
}
.newpage .vihcale{
    background: #fff;
    padding: 20px 0;
    border-radius: 0 0px 0px 0;
    box-shadow: 0px 0px 0px #00000017;
    margin-top: 0px;
    width: 40%;
}
.newpage button{
    background: none;
    border: 1px solid #000;
    border-radius: 5px;
    width: 105px;
    height: 40px;
    font-size: 14px;
    color: #000;
}






/* Style général pour le conteneur */
.forboxes .position-relative {
    overflow: hidden;
}

/* Animation au survol */
.forboxes .position-relative:hover .bgoverlay img {
    transform: translateX(10px); /* Décale la flèche de 10px vers la droite */
    transition: transform 0.3s ease-in-out;
}

/* Ajout d'une transition pour un effet fluide */
.forboxes .bgoverlay img {
    transition: transform 0.3s ease-in-out;
}




.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #db5c1c !important;
}
a.nav-link.active {
    color: #db5c1c !important;
}


.herosection .club:hover {
    transition: all 0.4s ease-in-out 0s;
    color: #1E1E21;
    background-color: #F4E8D4;
}

.club:hover {
    transition: all 0.4s ease-in-out 0s;
    color: #1E1E21;
    background-color: #FBF6EF;
}

.noborder{
    border: none !important;
}

input[type="search"]:focus {
    outline: none; /* Supprime l'effet de bordure par défaut */
    border: 1px solid #1E1E21; /* Applique une bordure personnalisée */
}





.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container svg {
    position: absolute;
    left: 10px; /* Espace entre le bord gauche et l'icône */
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none; /* Ne bloque pas l'interaction avec l'input */
}

.input-container input {
    padding-left: 40px; /* Espace pour laisser place au SVG */
}




.animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}




.forboxes .position-relative {
    position: relative;
    overflow: hidden; /* Contient l'overlay dans le cadre */
}

.forboxes .position-relative:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(30, 30, 33, 0) 0%, rgba(30, 30, 33, 0.8) 44%, rgba(30, 30, 33, 1) 100%);
    z-index: 1; /* Place l'overlay au-dessus de l'image */
    transition: background 0.4s ease;
    border-radius: 0px 0px 20px 20px;
}









/* Style de la section */
.logosec {
    background: #f9f9f9;
    padding: 20px 0;
    overflow: hidden; /* Cache les débordements */
    position: relative;
}

/* Conteneur principal */
.logo-slider {
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden; /* Cache le contenu qui sort des limites */
    position: relative;
    width: 100%;
    height: 100px; /* Ajustez selon la taille des logos */
}

/* Piste de logos */
.logo-track {
    display: flex;
    gap: 30px; /* Espacement entre les images */
    animation: scroll 20s linear infinite; /* Animation continue */
}

/* Style des logos */
.logo-track img {
    height: 80px; /* Taille des images */
    flex-shrink: 0; /* Empêche les logos de rétrécir */
}

/* Animation keyframes */
@keyframes scroll {
    from {
        transform: translateX(0); /* Départ à gauche */
    }
    to {
        transform: translateX(-50%); /* Fin au milieu pour la boucle */
    }
}


.hr-left,
.hr-right {

    margin: 0; /* Supprime les marges par défaut */
    width: 90%; /* Ajuste la largeur pour qu’elle ne prenne pas tout l’espace */
}

/* Style du logo */
.logofooter {
    max-width: 100px; /* Taille du logo (modifiez si nécessaire) */
    margin: 0 auto; /* Centrage vertical et horizontal */
}






/*#line-path {*/
/*    stroke-dasharray: 3000; !* Longueur totale du chemin *!*/
/*    stroke-dashoffset: 3000; !* Chemin caché *!*/
/*    animation: draw-line 4s linear forwards; !* Animation de 4 secondes *!*/
/*}*/

/*@keyframes draw-line {*/
/*    to {*/
/*        stroke-dashoffset: 0; !* Chemin totalement révélé *!*/
/*    }*/
/*}*/

/*#line-path-2 {*/
/*    stroke-dasharray: 3000; !* Remplacez par la longueur réelle du chemin si nécessaire *!*/
/*    stroke-dashoffset: 3000; !* Masque tout le chemin *!*/
/*    animation: draw-line-2 4s linear forwards; !* Animation de 4 secondes *!*/
/*}*/

/*@keyframes draw-line-2 {*/
/*    to {*/
/*        stroke-dashoffset: 0; !* Affiche progressivement le chemin *!*/
/*    }*/
/*}*/





/* Animation pour le deuxième chemin */


/* Classes à ajouter dynamiquement */
#line-path-2 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
}
.line-path-2-active {
    animation: draw-line-2 4s linear forwards;
}
@keyframes draw-line-2 {
    from {
        stroke-dashoffset: 3000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
svg.bttomarrow.position-absolute.aos-init.aos-animate{
    overflow: visible;
}



#line-path {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
}
.line-path-active {
    animation: draw-line 4s linear forwards;
}
@keyframes draw-line {
    from {
        stroke-dashoffset: 3000; /* Masque tout le chemin */
    }
    to {
        stroke-dashoffset: 0; /* Affiche le chemin complet */
    }
}


a.a-outline.club:hover {
    background: #F4E8D4 !important;
}
.blacky-button:hover {
    background: #2D2D31 !important;
}
.blacky-button.fill:hover {
    background: #2D2D31 !important;
}

.orange-button-hover:hover {
    background: #C7531A !important;
}






.navbar-toggler-icon {
    position: absolute;
    top: 30px;
    right: 1%;
    transform: translate(-50%, -50%);

}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%231E1E21' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
